*{
  margin: 0px;
  padding: 0px;
}
html{
  scroll-behavior: smooth;
  
}
body{
  background-color: whitesmoke;
}
.container
{
  background-color: aliceblue;
  width: 700px;
  margin-top: 10px;
  box-shadow: 0px 0px 5px rgba(214, 216, 215,5);
}

.top {
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.text
{
  font-size: 2em;
  font-weight: bolder;
  height: 100px;
  width: 600px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
  padding-left: 50px;
}
.form1{
  display: flex;
  justify-content: space-between;
}
.mb-3{
  margin-top:30px;
}
#mb-3{
  margin-top: 55px;
}
#form1{
  padding-left: 50px;
  padding-right: 50px;
}
.btn:hover{
  color: rgb(12, 101, 153);
  background-color: white;
}
.check{
  border: none;
}
.btn-1{
  position: absolute;
  top: 700px;
  right: -40px;
  padding: 10px 60px 10px 15px;
  background-color: rgb(137, 132, 173);
  border-radius: 45px;
  color: white;
  text-decoration: none;
  font-style: solid;
  font-weight: 400;
  font-size: 20px;
}
.login{
  position: absolute;
  top: 620px;
  right: -50px;
  padding: 10px 60px 10px 15px;
  background-color: rgb(137, 132, 173);
  border-radius: 45px;
  color: white;
  text-decoration: none;
  font-style: solid;
  font-weight: 400;
  font-size: 20px;
  
}
.login:hover{
 transform: translateX(-15px);
}
.btn-1:hover{
  transform: translateX(-15px);
}
.container:hover{
  transform: rotateX('90deg');
}