@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  background: #d2d2d2;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.registration-container {
  background: #fff;
  border-radius: 20px;
  width: 100%;
  height: auto;
  padding: 0.7rem;
  margin: 0.9rem;
}

.registration-container h2 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  position: relative;
}

.registration-container h2::after {
  position: absolute;
  top: 100%;
  left: 0;
  height: 5px;
  width: 10%;
  border-radius: 2px;
  background-color: skyblue;
}

.top-section {
  display: flex;
  flex-wrap: wrap-reverse;
}

.three-details-item {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #d2d2d2;
  margin: 1rem 0;
  border: none;
}

h4 {
  padding-bottom: 10px;
}

.personal-details,
.identity-details {
  margin: 0.2rem 0;
}

.personal-details label,
.identity-details label {
  margin: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.img-details {
  width: 200px;
  display: grid;
  padding: 20px 0px 20px 50px;
}

#img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
  background: #dfdfdf;
  margin-bottom: 10px;
}

.three-details-item label p span {
  font-size: 0.8rem;
  color: rgb(143, 145, 145);
}

.three-details-item input,
.three-details-item textarea {
  outline: none;
  width: 300px;
  height: 35px;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(143, 145, 145);
  padding: 0.2rem;
  background-color: rgb(243, 244, 245);
}

#bloodgroub {
  outline: none;
  width: 300px;
  height: 35px;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(143, 145, 145);
  padding: 0.2rem;
  background-color: rgb(243, 244, 245);
}

.bottom-section {
  display: flex;
  flex-wrap: wrap;
}

.submit-btn {
  border: none;
  background-color: skyblue;
  color: white;
  padding: 0px 10px;
  display: block;
  margin: 0.5rem auto 0.2rem auto;
  border-radius: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin-top: 50px;
  opacity: 1;
}

.submit-btn:hover {
  opacity: 0.8;
}
.bottom-section a {
  border: none;
  background-color: darkblue;
  color: white;
  padding: 10px 10px;
  display: block;
  margin: 0.5rem auto 0.2rem auto;
  border-radius: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin-top: 50px;
  text-decoration: none;
  opacity: 1;
}

.bottom-section a:hover {
  opacity: 0.8;
}
